/* Course Header Code (Same for details and ratings)*/
#content{
    overflow:auto;
    flex-direction: column;
}
.course-page-header{
    padding: 3vh;
}
/* Course Review Styling Starts Here */
.reviews-for-course{
    margin-left: 2vh;
    margin-right: 5vh;
    text-align: left;
}

.reviews-for-course .reviews-for-courses{
    background-color: #7c569b;
    border-radius: 10px;
    padding-bottom: 3vh;
}

.reviews-for-course .reviews-for-courses h2{
    margin: 2vh;
    padding-top: 1vh;
}

.reviews-for-course .reviews-for-courses h3{
    margin-left: 3vh;
    padding-top: 1vh;
    font-size: 15px;
}

.reviews-for-course .reviews-for-courses p{
    margin-left: 3vh;
    padding-top: 1vh;
}

