.head{
    color:#02B7FE;
}
.whole{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts{
    background-color: #02B7FE;
    width:400px;
}

.feedback-input-textarea{
    color:white;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #61dafb;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}




