.details-for-course-ratings{
    flex-direction: column;
}

.details-for-course-ratings h2{
    color: white;
    text-align: left;
    margin-left: 3vh;
}

.details-for-course-ratings p{
    text-align: left;
    margin-left: 3.5vh;
}