.heading{
    color: wheat;
    margin-bottom: 16px;
}

.profile-card{
    border: 2px solid wheat;
    padding-top: 24px;
    padding-bottom: 16px;
    border-radius: 8px;
}

.profile-bio{
    margin-left: 24px;
    margin-right: 24px;
}

.heading-school{
    color: white;
}
.heading-major{
    color: white;
}
.heading-bio{
    color: white;
}

.dp{
    width: 130px;
    height: 130px;
    border-radius: 1000px;
}

.name{
    color: white;
}

.subtitle{
    text-decoration: underline;
    color: wheat;
}

.button1{
    background-color: #02B7FE;
    padding: 6px;
    border-radius: 8px;
}