
  .Header-header {
    /* background-color: #250741; */
    min-height: 20vh;
    font-size: calc(10px + 1vmin);
    color: white;
   background-color: #250741;
  }

  .logo {
    display: inline-block;

  }  

  .Header-header img {
    padding: 5%;
    padding-left: 5%;
    width: 18%;
    height: 6%;
    vertical-align: middle;
    float: left;
  }

  .Header-header input{
    border-radius: 20px;
    margin: 5%;
    float: right;
    width: 30vh;
  }